@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../webfonts/Vazir-FD.eot) format("eot"), url(../webfonts/Vazir-FD.ttf) format("ttf"), url(../webfonts/Vazir-FD.woff) format("woff"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  direction: rtl;
  text-align: right;
  background-color: #ececec;
  font-family: Vazir, sans-serif; }

.container {
  margin: 40px auto;
  width: 800px; }

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0; }
  .table tr {
    padding: 0;
    border: none; }
    .table tr td {
      padding: 0;
      border: none; }

.receipt {
  -webkit-box-shadow: 0 0 2px 0 #333231;
  -moz-box-shadow: 0 0 2px 0 #333231;
  box-shadow: 0 0 2px 0 #333231; }
  .receipt .header {
    background-color: #333231;
    width: 100%;
    height: 60px;
    padding: 10px; }
    .receipt .header .logo-container {
      width: 50px;
      height: 50px;
      float: left; }
      .receipt .header .logo-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .receipt .header .spanser {
      float: left;
      color: #fff;
      font-size: 18px;
      height: 100%;
      line-height: 60px;
      margin-left: 20px; }
    .receipt .header .title {
      font-size: 18px;
      line-height: 55px;
      float: right;
      font-family: Vazir, sans-serif;
      height: 50px;
      color: #D4AF73; }
  .receipt .space-gold {
    width: 100%;
    height: 5px;
    background-color: #D4AF73; }
  .receipt .receiver {
    height: 80px;
    background-color: #eee; }
    .receipt .receiver .Specifications {
      color: #333231;
      text-align: center;
      font-size: 14px;
      width: 50%; }
  .receipt .receipt-email {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    position: relative; }
    .receipt .receipt-email .co-name {
      color: #333231;
      text-align: center;
      width: 100%;
      padding: 40px 30px;
      font-size: 16px;
      border-left: 1px dashed rgba(0, 0, 0, 0.4);
      border-right: 1px dashed rgba(0, 0, 0, 0.4);
      border-top: 1px dashed rgba(0, 0, 0, 0.4);
      border-radius: 10px 10px 1px 1px; }
    .receipt .receipt-email .table-container {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 30px;
      border-left: 1px dashed rgba(0, 0, 0, 0.4);
      border-right: 1px dashed rgba(0, 0, 0, 0.4);
      border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
      border-radius: 1px 1px 10px 10px; }
      .receipt .receipt-email .table-container .receipt-table {
        width: 80%; }
        .receipt .receipt-email .table-container .receipt-table tr.space {
          background-color: rgba(0, 0, 0, 0.4);
          width: 80%; }
        .receipt .receipt-email .table-container .receipt-table tr.white-space td {
          padding: 40px; }
        .receipt .receipt-email .table-container .receipt-table tr td {
          padding: 1px;
          font-size: 14px;
          width: 50%; }
          .receipt .receipt-email .table-container .receipt-table tr td.subject {
            color: #333231;
            text-align: center;
            width: 50%;
            padding: 30px; }
          .receipt .receipt-email .table-container .receipt-table tr td.answer {
            color: #747373;
            text-align: center;
            width: 50%;
            padding: 30px; }
    .receipt .receipt-email .text {
      font-size: 14px;
      color: #747373;
      padding: 30px 20px 20px 10px;
      width: 100%;
      text-align: center; }
  .receipt .banner {
    width: 100%;
    height: 300px;
    background-color: #D4AF73; }
    .receipt .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .receipt .footer {
    height: 40px;
    background-color: #333231;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 12px; }

@media (max-width: 500px) {
  .container {
    width: 100%; }

  .promotion .options {
    padding: 10px 0; } }

/*# sourceMappingURL=custom.css.map */
